*{
	margin: 0px;
	padding: 0px;
}
#home{
	height: 30vh;
	background-image: linear-gradient(to bottom, rgba(10, 10, 10, .3), rgba(10, 10, 10, .57)), url(images/bg1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.navbar-brand{
	font-family: lobster;
	font-size: 1.5rem;
}
.header-center{
	margin-top: 8rem;
}
.header-text{
	color: #800080;
	font-family: sansita;
	text-shadow: 1px 1px #fefefe;
}
.header-sub{
	color: #ffef00; 
}
#about{
	height: 60vh;
	line-height: 1.6;
}
#services{
	height: 40vh;
	line-height: 1.6;
	background-color: #0a1f45;
}
#reviews{
	height: 40vh;
	line-height: 1.6;
}
#contact{
	height: 60vh;
	line-height: 1.6;
	background-color: #0a1f45;
}
.titles{
	color: #A9A9A9;
	text-shadow: 1px 1px #000;
	font-family: sansita;
	font-size: 3rem;
}
.icons{
	font-size: 6rem;
	color: #ffcf00; 
}
.icons-text{
	font-size: 1.5rem;
	font-family: sansita;
}
.smaller-icon{
	width: 6rem;
}
.smaller-user{
	width: 3rem;
}

.icon-vertical{
	margin-top: 5rem;
}
.smaller-image{
	height: 35rem;
}
.about-text{
	font-family: Signika Negative;
}
.service-text{
	color: #edab1c;
	font-size: 1.5rem;
	cursor: pointer;
	/*font-family: Signika Negative;*/
}
.service-text:hover{
	font-size: 2rem;
}
.big-quote{
	font-size: 4rem;
	font-family: Haas Grot Text R Web;
	font-weight: bold;
}
.bigger-texts{
	font-size: 2rem;
}

.address{
	color: white;
	font-size: 1.5rem;
	/*line-height: 2*/
}

.contact-title{
	font-size: 2rem;
	font-family: Sansita
}
#contact-form{
	border: .2rem #edab1c solid;
	border-radius: .5rem;
	padding: 1.5rem;
	/*background-color: #0a1f45;*/
}
.contact-us-title{
	font-size: 2.5rem;
	color: #A9A9A9;
	text-shadow: 1px 1px #000;
	font-family: sansita;
}

.form-text{
	font-size: 1.5rem;
	color: white;	
}

.checkbox-heading{
	font-size: 1.7rem;
	color: white;
}
.footer{
	/*background-color: #edab1c;*/
	padding: 1rem;
	font-family: lobster;
}

@media (min-width: 992px){
	#home{
		height: 90vh;
	}
	#about{
		height: 90vh;
	}
	#services{
		height: 90vh;
	}
	#reviews{
		height: 70vh;
	}
	#contact{
		height: 100vh;
	}

}